<div class="bottom-widget">
	<div class="area-mobile-menu">
		<a href="area.html" class='area-nav active'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#user-mobile"></use>
			</svg>
			Мій <br>
			профіль
		</a>
		<a href="area-schedule.html" class='area-nav'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#clock-mobile"></use>
			</svg>
			Графік <br>
			роботи
		</a>
		<a href="area-payment.html" class='area-nav'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#pay-mobile"></use>
			</svg>
			Платежі <br>
			та сесії
		</a>
	</div>
</div>