<div class="bottom-widget">
	<div class="client-mobile-menu">
		<a href="area-client.html" class='area-nav active'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#user-mobile"></use>
			</svg>
			Мій <br>
			профіль
		</a>
		<a href="area-schedule.html" class='area-nav'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#clock-mobile"></use>
			</svg>
			Наші <br>
			спеціалісти
		</a>
		<a href="area-client-payment.html" class='area-nav'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#pay-mobile"></use>
			</svg>
			Платежі <br>
			та сесії
		</a>
		<a href="#" class='area-nav'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#heart"></use>
			</svg>
			Мої <br>
			рекомендації
		</a>
		<a href="area-client-contact.html" class='area-nav'>
			<svg>
				<use xlink:href="@img/icons/icons.svg#mail"></use>
			</svg>
			Зв’язатися <br>
			з нами
		</a>
	</div>
</div>