<div class="mobile-table">
	<div class="table-item">
		<div class="table-item__head">
			<div class="area-table__line">
				06/03/2024, 09:00
				<span class="info-tooltip" data-tippy-content='info'>
					<svg>
						<use xlink:href="@img/icons/icons.svg#info"></use>
					</svg>
				</span>
			</div>
			<div class="area-table__line">
				@@include('../components/_more-info.htm')
				<button class="icon-btn" type='button'>
					<svg>
						<use xlink:href="@img/icons/icons.svg#dots"></use>
					</svg>
				</button>
			</div>
		</div>
		<div class="table-item__body">
			<span>Віталій Соколов</span>
			<span>1 300 ₴</span>
		</div>
		<div class="table-item__bottom">
			<button class="btn-sm btn-sm--grey-border table-item__btn" type='button'>
				Online
				<svg>
					<use xlink:href="@img/icons/icons.svg#share"></use>
				</svg>
			</button>
		</div>
	</div>
	<div class="table-item">
		<div class="table-item__head">
			<div class="area-table__line">
				06/03/2024, 09:00
				<span class="info-tooltip" data-tippy-content='info'>
					<svg>
						<use xlink:href="@img/icons/icons.svg#info"></use>
					</svg>
				</span>
			</div>
			<div class="area-table__line">
				@@include('../components/_more-info.htm')
				<button class="icon-btn" type='button'>
					<svg>
						<use xlink:href="@img/icons/icons.svg#dots"></use>
					</svg>
				</button>
			</div>
		</div>
		<div class="table-item__body">
			<span>Віталій Соколов</span>
			<span>1 300 ₴</span>
		</div>
		<div class="table-item__bottom">
			<button class="btn-sm btn-sm--grey-border table-item__btn" type='button'>
				Online
				<svg>
					<use xlink:href="@img/icons/icons.svg#share"></use>
				</svg>
			</button>
		</div>
	</div>
</div>