<div class="mobile-filter">
	<button class="mobile-filter__btn" type='button'>Фільтри</button>
	<div class="mobile-filter__body">
		<div class="mobile-filter__head">
			Фільтри та сортування
			<button type="button" class='mobile-filter__close'>
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
						d="M0 10C0 4.47 4.47 0 10 0C15.53 0 20 4.47 20 10C20 15.53 15.53 20 10 20C4.47 20 0 15.53 0 10ZM12.89 14.3C13.28 14.69 13.91 14.69 14.3 14.3C14.68 13.91 14.68 13.27 14.3 12.89L11.41 10L14.3 7.11C14.69 6.72 14.69 6.09 14.3 5.7C13.91 5.31 13.28 5.31 12.89 5.7L10 8.59L7.11 5.7C6.72 5.31 6.09 5.31 5.7 5.7C5.51275 5.88683 5.40751 6.14048 5.40751 6.405C5.40751 6.66952 5.51275 6.92317 5.7 7.11L8.59 10L5.7 12.89C5.51275 13.0768 5.40751 13.3305 5.40751 13.595C5.40751 13.8595 5.51275 14.1132 5.7 14.3C6.09 14.69 6.72 14.69 7.11 14.3L10 11.41L12.89 14.3Z"
						fill="#19453F" />
				</svg>
			</button>
		</div>
		<div class="mobile-filter__inner">
			<div data-tabs class="filter-tabs">
				<nav data-tabs-titles class="filter-tabs__navigation">
					<button type="button" class="filter-tabs__title _tab-active">Фільтрування</button>
					<button type="button" class="filter-tabs__title">Сортування</button>
				</nav>
				<div data-tabs-body class="filter-tabs__content">
					<div class="filter-tabs__body">
						<div class="team-aside">
							<div class="team-aside__dropdowns">
								<div data-spollers class="spollers team-dropdown" data-one-spoller>
									<details class="spollers__item team-dropdown__item">
										<summary class="spollers__title team-dropdown__title">Формат зустрічі</summary>
										<div class="spollers__body team-dropdown__body">
											<div class="team-dropdown__wrapper">
												<label class="radio-input">
													Онлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<label class="radio-input">
													Офлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<select>
													<option value="" selected>Оберіть місто</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
												<label class="radio-input">
													Обидва підходять
													<input type="radio" name='status'>
													<span></span>
												</label>

											</div>
										</div>
									</details>
									<details class="spollers__item team-dropdown__item">
										<summary class="spollers__title team-dropdown__title">Мова консультації</summary>
										<div class="spollers__body team-dropdown__body">
											<div class="team-dropdown__wrapper">
												<label class="radio-input">
													Онлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<label class="radio-input">
													Офлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<select>
													<option value="" selected>Оберіть місто</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
												<label class="radio-input">
													Обидва підходять
													<input type="radio" name='status'>
													<span></span>
												</label>
											</div>
										</div>
									</details>
									<details class="spollers__item team-dropdown__item">
										<summary class="spollers__title team-dropdown__title">Кого стосується Ваш запит?
										</summary>
										<div class="spollers__body team-dropdown__body">
											<div class="team-dropdown__wrapper">
												<label class="radio-input">
													Онлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<label class="radio-input">
													Офлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<select>
													<option value="" selected>Оберіть місто</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
												<label class="radio-input">
													Обидва підходять
													<input type="radio" name='status'>
													<span></span>
												</label>
											</div>
										</div>
									</details>
									<details class="spollers__item team-dropdown__item">
										<summary class="spollers__title team-dropdown__title">Спеціалізація фахівця</summary>
										<div class="spollers__body team-dropdown__body">
											<div class="team-dropdown__wrapper">
												<label class="radio-input">
													Онлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<label class="radio-input">
													Офлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<select>
													<option value="" selected>Оберіть місто</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
												<label class="radio-input">
													Обидва підходять
													<input type="radio" name='status'>
													<span></span>
												</label>
											</div>
										</div>
									</details>
									<details class="spollers__item team-dropdown__item">
										<summary class="spollers__title team-dropdown__title">Запити</summary>
										<div class="spollers__body team-dropdown__body">
											<div class="team-dropdown__wrapper">
												<label class="radio-input">
													Онлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<label class="radio-input">
													Офлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<select>
													<option value="" selected>Оберіть місто</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
												<label class="radio-input">
													Обидва підходять
													<input type="radio" name='status'>
													<span></span>
												</label>
											</div>
										</div>
									</details>
									<details class="spollers__item team-dropdown__item">
										<summary class="spollers__title team-dropdown__title">Стать фахівця</summary>
										<div class="spollers__body team-dropdown__body">
											<div class="team-dropdown__wrapper">
												<label class="radio-input">
													Онлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<label class="radio-input">
													Офлайн
													<input type="radio" name='status'>
													<span></span>
												</label>
												<select>
													<option value="" selected>Оберіть місто</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
												<label class="radio-input">
													Обидва підходять
													<input type="radio" name='status'>
													<span></span>
												</label>
											</div>
										</div>
									</details>
								</div>
							</div>
							<div class="team-aside__blocks">
								<div class="team-aside__block">
									<div class="team-range">
										<div class="team-range__head">
											Вік фахівця
											<span>23 - 57</span>
										</div>
										<div class="team-range__inputs">
											<label class='team-range__input'>
												<span>Від:</span>
												<input type="number" placeholder='25' min='23' id='team-range__age-input-1' max='57'>
											</label>
											<label class='team-range__input'>
												<span>До:</span>
												<input type="number" id='team-range__age-input-2' placeholder='26' min='23' max='57'>
											</label>
										</div>
									</div>
								</div>
								<div class="team-aside__block">
									<div class="team-range">
										<div class="team-range__head">
											Ціна
											<span>600 - 5 000</span>
										</div>
										<div class="team-range__inputs">
											<label class='team-range__input'>
												<span>Від:</span>
												<input id='team-range__price-input-1' type="number" placeholder='500' min='0' max='99999'>
												<span>₴</span>
											</label>
											<label class='team-range__input'>
												<span>До:</span>
												<input id='team-range__price-input-2' type="number" placeholder='1200' min='0' max='9999'>
												<span>₴</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="filter-tabs__body">
						Вміст другого таба
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-filter__bottom">
			<button type='button'
				class="team-dropdown-btn mobile-filter__close team-dropdown-btn--accent">Застосувати</button>
			<button type='reset' class="team-dropdown-btn">Очистити</button>
		</div>
	</div>

</div>