<div class="more-info">
	<button class="more-info__btn" type='button'>
		<svg>
			<use xlink:href="@img/icons/icons.svg#info"></use>
		</svg>
	</button>
	<div class="more-info__dropdown">
		<div class="more-info__inner">
			<div class="more-info__title">Інформація про сесію</div>
			<div class="more-info__expert">Консультація з Аліна</div>
			<ul class="more-info__list">
				<li class='more-info__item'>
					<div class="more-info__item-name">Дата і час</div>
					<div class="more-info__item-text">06 березня 2024 - 09:00 (50хв)
						<span>(Kyiv Time)</span>
					</div>
				</li>
				<li class='more-info__item'>
					<div class="more-info__item-name">Тип клієнта</div>
					<div class="more-info__item-text">Дорослий
					</div>
				</li>
				<li class='more-info__item'>
					<div class="more-info__item-name">Формат</div>
					<div class="more-info__item-text">Онлайн:
						<span><a href="#">посилання на сесію</a></span>
					</div>
				</li>
				<li class='more-info__item'>
					<div class="more-info__item-name">Вартість</div>
					<div class="more-info__item-text">1 300 ₴
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>